body{
    margin: 0;
}
header{
  display: flex; /* Lägg till flexbox-layout */
  justify-content: space-between; /* Placera elementen jämnt mellanrum */
  align-items: center; /* Centrera vertikalt */
    height: 10vh;
    background-color: red;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 1vw);
}
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10vh; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 2vw;
    font-size: 36px;
    margin-left: 10vw;
  }
  
  /* The button used to open the sidebar */
  .menubtn {
    margin-right: 10vw;
    left: 1vw;
    position: absolute;
    font-size: 4vh;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 1vh 1vw;
    border: none;
  }
  
  .menubtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1vh;
  }
  
  #main img{
    width:auto;
    height:10vh;
    }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */


main{
    height: 65vh;
}

footer{
    list-style: none;
    display: flex; /* Lägg till flexbox-layout */
    justify-content: space-between; /* Placera elementen jämnt mellanrum */
    align-items: center; /* Centrera vertikalt */
    background-color: #564d4d;
    height: 25vh;
    font-size: 2vh;
    width: 100vw;
    margin:0;
}
footer ul{
  width: 20vw;
    list-style: none;
}

@media screen and (max-width: 670px) {
header{
  background-color: aqua;
}
footer {
  flex-direction: column;
  align-items:flex-start;
  height: auto;
}
footer ul{
  width: auto;
}

  }